@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@600&family=Open+Sans:wght@300&family=Poppins&family=Roboto&family=Yantramanav:wght@100&display=swap');


@font-face{
    font-family: 'neon';
    src: url(../assets/TextMeOne-Regular.ttf) format('truetype');
}

*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

#container{
    transition: .3s;   
}

#container.active{
    margin-left: 200px;
}

header{
    margin: 0;
    margin-top: 100px !important;
}

.log{
    position: relative;
    background: rgba(0, 0, 0, 0.5);;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
    color: #fff;
    margin: 0;
    height: 160px;
}

.log:after{
    content: "";
    position: absolute;
    background-image: url(../assets/brick.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: -1;
}

h1{
    font-family: 'neon','Roboto', sans-serif !important;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 0;
    font-size: 5em;
    text-shadow : 0 0 10px #d8d8ff, 0 0 20px #b8b8dd, 0 0 40px #a8a8bb;
}

/* h1::before{
    
    background-color: #bebedd;
    opacity: 1;
} */

p{
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
}


.__m-p-reset{
    margin: 0;
    padding: 0;
}

.parallax{
    filter: brightness(50%);
}

.__mt-20px{
    margin-top: 20px !important;
}

.__mt-40px{
    margin-top: 40px !important;
}

.__mt-50px{
    margin-top: 50px !important;
}

.__mb-20px{
    margin-bottom: 20px !important;
}

.__ml-10px{
    margin-left: 10px !important;
}

.__mr-10px{
    margin-right: 10px !important;
}

.__nav-color{
    background-color: #2f2f2f !important;
}

.__nav-box-shadow{
    border: 1px #0000f5 solid ;
    box-shadow: 0 0 5px #aaaaff;
}

.__border-bot-line{
    border-bottom: 3px #4b3ccf solid ;
    box-shadow: 0 0 5px #7979f0;
}

.__card-box-shadow{
    box-shadow: 10px 10px 20px #aaaadd, -10px -10px 20px #aaddaa;
}

main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 120px;
    background-color: #1f1f1f;
}

.judul{
    font-family: 'Yantramanav', sans-serif;
    font-weight: 1;
    letter-spacing: 5px;
    font-size: 60px;
    margin-bottom: 10px;
    color: #ddd;
    text-shadow : 0 0 20px #d8d8ff, 10px 0 30px #d8d8ff;
    filter: blur(10%);
}

.__search-bar{
    padding: 20px !important;
}

/* .__search-bar:hover > .__input{
    opacity: 1 !important;
    width: 360px !important;
}

.__button:active > .__input{
    opacity: 1 !important;
    width: 360px !important;
} */

.__input{
    margin-top: 10px !important;
    /* margin-left: 50px !important; */
    padding: 30px !important;
    background-color: transparent !important;
    outline: none !important;
    box-sizing: border-box !important;
    border-radius: 40px !important;
    color: whitesmoke !important;
    border: 1px #0000f5 solid !important;
    box-shadow: 0 0 5px #aaaaff !important;
    width: 95% !important;
    /* opacity: 0 !important; */
    transition: 0.4s !important;
}

.__button{
    background-color: transparent !important;
    color: whitesmoke !important;
    margin-left: -60px !important;
    font-family: 'neon', sans-serif !important;
    font-size: 20px !important;
    height: 40px !important;
    width: 40px !important;
    box-sizing: border-box !important;
    border-radius: 100% !important;
    cursor: pointer !important;
    outline: none !important;
    border: 1px #00ff00 solid !important;
}

.__button:hover{
    box-shadow: 0 0 5px #00dd00 !important;
}

.__order{
    text-decoration: none;
    color: white;
    padding: 12px 25px;
    text-transform: uppercase;
    text-align: center !important;
    font-size: 12px;
    overflow: hidden;
    transition: .3s;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    border: 1px #0000f594 solid !important;
    cursor: pointer;
}

.__order:hover{
    font-weight: bold;
    color: rgb(10, 10, 10);
    background-color: rgb(65, 50, 182);
    box-shadow: 0 0 10px rgb(82, 74, 146), 0 0 40px rgb(82, 74, 146), 0 0 80px rgb(82, 74, 146);
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: white;
    background-color: #1f1f1f;
    font-family: 'Cabin', sans-serif;
}